*{
	margin: 0;
	padding: 0;
}
body{
	font-family:'Montserrat-Bold',sans-serif;
}
@font-face {
	font-family:'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.ttf');
	font-weight: normal;
	font-style: normal;
}
@mixin wrapper{
	height: 100%;
	margin:0 auto;
	width: 940px;
	position: relative;
}
header{
	height:697px;
	background:url("../img/head.png") no-repeat center 0;
	position: relative;
	display: block;
	.header-wrapper{
		@include wrapper;
		.head-wrapper{
			position: relative;
			height: 150px;
			.head_text{
				float:left;
				h1{
					color:white;
					padding-top:50px;
					font-size: 22px;
					position: relative; 
				}
			}
			.head_menu{
				position:relative;
				float: right;
				padding:55px 25px 0 0;
				.menu{
					.menu__item{
						list-style-type: none;
						display: inline-block;
					}
					.menu__link{
						display: block;
						text-decoration: none;
						color:white;
						padding:10px 20px 10px 20px;
					}
					.menu__link:hover{
						border:2px solid white;
						margin: -2px;
						border-radius: 27px;
					}
				}
			}
		}
		.center_text_head{
			margin-top:60px; 
			h1{
				text-align: center;
				color:white;
				font-size: 44px;
			}
			p{  
				margin:40px 0 50px 0; 
				font-family: 'Roboto-Light' ,sans-serif;
				text-align: center;
				font-size: 22px;
				color:white;
			}
			h3{
				text-align: center;
				font-size: 14px;
				a{
					text-decoration: none;
					color:white;
					border-radius:27px;
					background: #ff4e50;
					padding: 10px 20px 10px 20px; 
				}
				a:hover{
					background: white;
					color:#ff4e50;
				}
			}
		}
	}
}
.content_how_it_works{
	height: 570px;
	position: relative;
	.how_it_works_wrapper{
		@include wrapper;
		h3{
			text-align: center;
			padding:100px 0 40px 0; 
		}
		.wrapper{
			width: 940px;
			margin:0 auto;
			height: 500px;
			.myjcarousel{
				position: relative;
				float: left;
				.jcarousel {
					position: relative;
					overflow: hidden;
					width: 300px;
					ul{	
						width: 20000em;
						position: relative;
						list-style: none;
						margin: 0;
						padding: 0;
						.jcarousel__item1{
							position: relative;
						}
						.jcarousel__item1:before{
							position: absolute;
							content: url("../img/step1.png");
							top:230px;
							left:20px;
						}
						.jcarousel__item2{
							position: relative;
						}
						.jcarousel__item2:before{
							position: absolute;
							content: url("../img/step2.png");
							top:230px;
							left:20px;
						}
						.jcarousel__item3{
							position: relative;
						}
						.jcarousel__item3:before{
							position: absolute;
							content: url("../img/step3.png");
							top:230px;
							left:20px;
						}
					}
				}
				.jcarousel-control-prev,
				.jcarousel-control-next {
					position: absolute;
					top: 180px;
					color:white;
					margin-top: -15px;
					text-align: center;
					text-decoration: none;
				}

				.jcarousel li {
					width: 300px;
					height: 400px;
					float: left;
					border-radius:25px;
				}

				.jcarousel img {
					display: block;
					max-width: 100%;
					height: 400px;
					width: 300px;
				}

				.jcarousel-control-prev{
					left: 15px;
				}

				.jcarousel-control-next {
					left: 255px;
				}
			}

			.myjcarousel--carousel2{
				position: relative;
				float: left;
				margin-left: 20px;
			}
			.myjcarousel--carousel3{
				position: relative;
				float: left;
				margin-left: 20px;
			}
		}
	}
}
.content_partners{
	height: 480px;
	position: relative;
	.content_partners_wrapper{
		@include wrapper;
		h3{
			text-align: center; 
			padding: 95px 0 32px 0;
		}
		.partners{
			height: 300px;
			position: relative;
			.bradley{
				float: left;
				position: relative;
				width:220px;
				img{
					margin-left: 50px;
				}
				h3{
					font-size: 13px;
					text-align: center;
					padding: 5px 0 15px 0;
				}
				p{
					font-family: 'Roboto-Light';
					text-align: center;
					font-size: 14px;
					color:#969696;
				}
			}
			.heather{
				@extend .bradley;
				margin-left: 15px;
			}
			.lucas{
				@extend .heather;
			}
			.hunter{
				@extend .heather;
			}
		}
		.other_partners{
			display: block;
			position: relative;
			h2{
				text-align: center;
				font-size: 14px;
				padding: 0;
				a{
					text-decoration: none;
					color:#ff4e50;
					border:2px solid #ff4e50; 
					border-radius:27px;
					background: white;
					padding: 10px 20px 10px 20px; 
				}
				a:hover{
					background:#ff4e50 ;
					color:white;
				}
			}
		}

	}
}
.activities{
	position: relative;
	border-bottom:4px solid #ff4e50 ;

	.activities_wrapper{
		@include wrapper;
		h3{
			text-align: center;
			padding:100px 0 35px 0;
		}
		.active_pictures {
			.grid-item1{
				margin:0 15px 18px 0;
			}
			.grid-item3{
				margin-bottom: 18px;
			}
			.grid-item4{
				margin:0 15px 18px 0; 
			}
			.grid-item5{
				margin-bottom:18px; 
			}
			.grid-item7{
				margin-left:15px; 
			}
		}
		p{
			margin:-10px 0 40px 0; 
			font-family: 'Roboto-Light' ,sans-serif;
			text-align: center;
			font-size: 17px;
			color:black;
		}
		.enter_search{
			display: flex;
			.enter_your_interests{
				margin:0 0 100px 233px;
				input{
					height:39px;
					width: 239px;
					border-radius: 5px;
					padding-left:10px; 
					font-size: 15px;
				}
			}
			.button_search{
				margin:10px 0 0 20px; 
				a{
					text-decoration: none;
					background:#ff4e50 ;
					color:white;
					border-radius:27px;
					padding: 10px 20px 10px 20px; 
				}
				a:hover{
					border:2px solid #ff4e50; 
					color:#ff4e50;
					background: white;
				}
			}
		}
	}
}
footer{
	position: relative;
	height:190px;
	.footer_wrapper{
		@include wrapper;
		.urlab{
			float:left;
			color:#ff4e50;
			margin-top: 35px;
		}
		.footer_about{
			float: left;
			margin:40px 0 0 100px;
			p{
				margin-top:5px;
				font-family: Arial;
				a{
					color:#8b8b8b;
					text-decoration: none;
				} 
			}
			.foot_about{
				margin-top: 15px;
			}
		}
		.partner_footer{
			float: left;
			margin:40px 0 0 92px;
		}
		.areto{
			float:right;
			margin-top: 40px;
		}
	}
}